.root {
  display: flex;
  flex-direction: column;
  background: #eee;
  height: 100%;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}

.wrapper {
  flex: 1;
}

.tree {
  background: #fff;
  border: 5px solid #ddd;
  border-radius: 4px;
}
.tree line {
  stroke: #e2e8f0;
  stroke-width: 2;
}

.reset {
  position: absolute;
  right: 10px;
  top: 60px;
  padding: 4px 10px;
  background: #fff;
  border: 5px solid #ddd;
  border-radius: 4px;
  line-height: 1;
  cursor: pointer;
}
